ion-content {
  // --background: transparent;

  video {
    position: absolute;
    z-index: 999999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    z-index: 10;
    top: 17%;
    left: 25%;
  }

  .button-camera {
    width: 100%;
    ion-button {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}
